

body {
    background-color: #6581A6;
    font-family: 'Bungee Shade', cursive;
    height: 100%;
    width: 100%;
    overflow: hidden;

}
ul{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    list-style-type: none;
    font-family: 'Bungee', cursive;
    color: white;
    margin: 5px;
}


.ul-mobile{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-mobile{
    float: left;
    margin: 5px;
}

.li-mobile img{
	max-height: 25px;
}

li img{
	max-height: 50px;
}

.couch{
    max-width: 1080px;
    margin-top: -100px;
    width: 100%;
    height: 100%;

  }

.pillow{
    z-index: 2;
    width: 15%;
    position: relative;
}

.person{
    /*z-index: 3;*/
    /*width: 50%;
    position: absolute;
    left: 10%;*/


}

.persondiv{
    /*position: absolute;*/
    /*width: 100%;
    height: 100%;*/
}

.sidebar-main{
    background-color: #3a5447;
    border-radius: 10px;
    align-items: center;
    text-align:center;
    padding: 10px;
    margin-right: 5px;
}

.item-sidebar{
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    text-align:center;
}

.sidebar-main-mobile{
    background-color: #3a5447;
    border-radius: 10px;

    text-align:center;
    padding-top: 20px;
    margin-right: 5px;
    margin-top:5%;
    font-size: 15px;
}

.item-word{

}

.title{
    margin-bottom: 10%;
    font-size: 4.5vw;
    text-align: center;
}

.overall {
  margin: 40px auto;
  width: 200px;
  text-align: center;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
.discoball {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: hue;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  background: lightgrey;
  border-radius: 200px;
  border: 0px solid #fff;
  height: 200px;
  width: 200px;
  box-shadow: 0 3px 200px -3px #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

}
.discoball img {
  height: 200px;
  width: 200px;
}
.hanger {
  background: #eee;
  width: 1px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 15%;
  position: absolute;
  top: 0;
  left: 50%;
}

#header{
	text-align: center;
	font-size: 6.5vw;
	flex-flow: row wrap;
}

.donetitle{
	margin-bottom: 5%;
    font-size: 6.5vw;
    text-align: center;
    width: 100%;
}

button{
	text-align: center;
    width: 150px;
    z-index: 100;
    height: 60px;
    font-family: 'Bungee';
    color: white;
    border: none;
    background-color: #3A5447;
    font-size: 1.5vw;
}
