body {
  background-color: #6581A6;
}
ul{
  list-style-type: none;
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

li img{
	max-height: 50px;
}

.couch{

    width: 80%;
    height: 80%;

}

.sidebar-main{
    background-color: blue;
    align-items: center;
    text-align:center;
    padding: 20px;
    margin-right: 10px;
}

.item-sidebar{
    margin: 10px;
    align-items: center;
    text-align:center;


}
